body{
    font-family: $fontFamily;
    *{
        margin:0;
        padding:0
    }
    li{
        list-style:none
    }
    img{
        vertical-align:top;
        border:none;
    }
    #root{
        zoom: 1;
        &::after{
            content:'';
            display:block;
            height:0;
            font-size:0;
            clear:both;
            overflow:hidden;
        }
    }
}