.home{
    font-size: 0.2rem;
    h1{
        color: #333;
        text-align: center;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    // h2::after{
    //     content: '';
    //     background: rgb(94, 94, 94);
    //     top: 55%;
    //     position: absolute;
    //     height: 0.01rem;
    //     width: 0.42rem;
    // }
}